<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Location</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin="">
    </script>
    <style>
        #map {
            height: 300px;
            width: 100%;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div id="map" style="height:400px;"></div>

<input type="hidden" id="id_lat" value="41.3275">
<input type="hidden" id="id_lng" value="69.2813">


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const latInput = document.getElementById('id_lat');
        const lngInput = document.getElementById('id_lng');

        let lat = parseFloat(latInput?.value);
        let lng = parseFloat(lngInput?.value);

        if (isNaN(lat) || isNaN(lng)) {
            lat = 41.3111;
            lng = 69.2797;
        }

        var map = L.map('map').setView([lat, lng], 15);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; OpenStreetMap'
        }).addTo(map);

        let marker = L.marker([lat, lng]).addTo(map);

        map.on('click', function(e) {
            const newLat = e.latlng.lat;
            const newLng = e.latlng.lng;

            if (marker) {
                map.removeLayer(marker);
            }
            marker = L.marker([newLat, newLng]).addTo(map);

            latInput.value = newLat;
            lngInput.value = newLng;
        });
    });
</script>
</body>
</html>
